

#content{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 0px;
    max-width: 600px;
    margin: 40px auto;
}
#content div{
    background: #ddd8d8;
    padding: 10px;
    border-radius: 35px 0 0 35px;
    
}
#content div:nth-child(even){
    background: rgba(87, 93, 209, 0.825);
    padding: 20px;
    border-radius: 0 35px 35px 0;
}
.one{
    /*grid-column-start: 1;
    grid-column-end: 3;*/
    grid-column: 1 / 2;                                             

}
.form-control{
    margin-top: 10px;
    
}
.form-check-input{
    display: flex;
    


    

}
.form-select{
    margin-top: 18px;
}

.register{
    box-align: center;
}